/* body {
    background-color: #f8f9fa;
}
.search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.search-box input {
    width: 30%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.table-responsive {
    margin-top: 10px;
}
.btn-sm {
    padding: 5px 8px;
    font-size: 14px;
} */